body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: white;
  font-family: Geneva, sans-serif;
  background-image: url("./hatter.jpg");
}

#tartalom {
  background-color: rgba(4, 42, 63, 0.8);
  margin-bottom: 20px;
  padding: 40px;
  width: 900px;
  margin-top: 20px;
  margin: auto;
}

.keret {
  padding: 0px 25px 0px 25px;
  margin: auto 20px;
}

.kepalairas {
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  text-align: center;
  line-height: 130%;
}

table {
  background-color: rgba(227, 225, 233, 0.3);
  border: 3px solid rgb(58, 189, 201);
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th {
  background-color: rgba(58, 189, 201, 0.6);
  color: white;
}

th,
td {
  border: 1px solid rgb(58, 189, 201);
  padding: 5px;
}

.azure {
  color: cyan;
  font-weight: 600;
}

.limiter {
  max-width: 800px;
  padding-bottom: 10px;
  border-bottom: 3px rgb(58, 189, 201) solid;
}

h1, h2 {
  font-style: italic;
}

#link {
  color: rgb(58, 189, 201);
  text-decoration: none;
}

#link:hover {
  color: yellow;
}

p {
  text-align: justify;
  text-indent: 20px;
}
